#staticSidebar {
    position: fixed;

    min-width: 55px;
    max-width: 55px;

    height: 100vh;

    z-index: 9995;
    
    background-color: #2e325c;
    color: #fff;
    transition: all 0.3s;
}

#navStaticIcon {
    max-width: 40px;
    max-height: 40px;

    margin-top: auto;
    margin-bottom: auto;
}

#staticSidebar ul li a:hover {
    background: #fff;
}


@media screen and (max-width: 870px) {
    #staticSidebar {
        margin-left: -55px;
    }
}